@model Department

<h2>Create Department</h2>

<form method="post">
    <div class="mb-3">
        <label>Name</label>
        <input type="text" class="form-control" asp-for="Name" required />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
